.nav1{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    
   
}
.signup{
    border-radius: 20px;
    background-color: #14A800;
    color: white;
}
.signup {
    font-size: 18px; /* Increase the font size */
    width: 100px; /* Increase the width */
    height: 40px; /* Increase the height */
    border: none;
    cursor: pointer;

}
.login{
    display: flex;
    align-items: center; /* Center contents horizontally */
    text-align: center; /* Center text horizontally */
}
.login div:first-child {
    margin-right: 20px; /* Add margin below the "Log in" text */
}
.Search label input{
  border: 1px transparent darkgray;
  border-radius: 10px;
  
  
}
.nav2{
    display: flex;
    justify-content: flex-start;
    border-top: solid 1px #E4EBE4;
    padding: 20px; 
    height: 50px;
    gap: 20px;
}
body{
    padding: 0;
    padding: 0;
}

.nav3{
    display: flex;
    justify-content: space-between;
}

.nav4{
    display: flex;
    align-items: center; 
    margin-left: 60px;
    gap: 30px;

    
}

/* Navbar container */
.navbar {
    display: flex;
    align-items: center;
  overflow: hidden;
  background-color: white;
  font-family: Arial;
  margin-right: 25%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #14A800;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a  background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.heading_h1{
    font-size: 75px;
    margin: 5% 30% 0 5%;
    color:#14A800;
}
.divlogo {
    display: flex;
    align-items: center;
    margin-left: 3%;
}
.heading_h3{
    color: #5E6D55;
    margin-left: 5%;
}
.imgdav2 {
    margin-right: 60px;

}

.trested{
    color: gray;
    margin-top: 80px;
    margin-left: 5%;
}
.getbut{ 
    border-radius: 20px;
    background-color: #14A800;
    color: white;
    font-size: 16px bold; /* Increase the font size */
    width: 100px; /* Increase the width */
    height: 40px; /* Increase the height */
    border: none;
    cursor: pointer;
    margin-left: 5%;

}
.upwork-hero {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .upwork-hero .title {
    font-size: 48px;
    font-weight: 700;
  }
  
  .upwork-hero .text {
    
    font-size: 25px;
    line-height: 25px;
    color: black;
  }
  
  .upwork-hero a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: white;
  }
  
  .upwork-hero a:hover {
    color: #fff;
  }
  
  .upwork-hero .btn {
    background-color: #000;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .upwork-hero .btn-primary {
    background-color: #14A800;
  }
  
  .upwork-hero .btn-secondary {
    background-color: white;
    border: solid 1px green;
    color: #14A800;
  }
  
  .upwork-hero a.btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  .upwork-hero ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .upwork-hero li {
    margin-bottom: 10px;
  }
  .texth3{
    color: #5E6D55;
  }
.body{
  flex-wrap: wrap;
}
.wheel{
  display: flex;
  border: #13544E solid ;
  border-radius: 10px;
  margin: 30px;

}

.nearwheel{
  background-color: #13544E;
  height: 540px;
  width: 700px;
  padding-left: 30px;
}
.wheelimg{
  height: 540px;
}
.job-link {
  color: green; /* Change the text color to green */
  
}
.looking{
  color: gray;
}
.box-link {
  text-decoration: none;
}
.box-text {
  color: #000;
}
.box-1 {
width: 260px;
height: 125px;
border-radius: 10px;
padding: 10px;
}
.box-1:hover{
  background-color:#E4EBE4;
}
.pclass{
  display: flex;
  gap: 35px;
  color: #5E6D55;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  
}
.block8 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  justify-content: center;
  align-items: first baseline;
}
.box-text{
  font-weight: 500;
  font-size: x-large;
}
.white-text{
  color: white;
  font-size: 20;
}
.white-text2{
  color: white;
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.green-text{
  color: #91E6B3;
  font-size: 50px;
}
.button{
  border: 10px solid white;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  color: #5E6D55;
  width: 20px;
}